<div class="container-fluid row m-0 p-0">
  <div class="col-lg-6 col-12 d-flex justify-content-center p-0 bg-secondary">
    <img
      src="../../assets/images/house.png"
      class="image-fluid w-75 customRounded customImage"
    />
  </div>
  <div
    class="col-lg-6 col-12 border-0 d-flex flex-column justify-content-center text-white ps-5 bg-secondary"
  >
    <div class="mx-auto my-3">
      <h1 style="color: white">
        <b>MORTGAGE &</b> <br />
        <b>FINANCIAL</b> SPECIALIST
      </h1>
      <p class="w-50">
        Committed to delivering innovative and creative solutions to help
        individuals finance and protect their property dreams and investments.
      </p>
      <a
        href=""
        class="btn text-wrap fw-bold customBtn"
        style="width: max-content"
        >GET IN TOUCH
      </a>
    </div>
  </div>
  <div
    class="d-flex justify-content-center align-items-center w-100 row m-0 p-0"
    style="height: 220px"
  >
    <div class="col-lg-6 col-12">
      <p class="text-wrap m-0">
        Whether you're purchasing your first home, starting a new serviced
        accommodation, refinancing an HMO, or managing your portfolio, we’re
        here to provide guidance and support on your path to success.
      </p>
    </div>
  </div>
  <div class="bg-black d-flex row justify-content-center m-0 p-0">
    <div class="col-lg-4 order-2 order-lg-1 col-10 mx-0 my-5 p-0">
      <h2 class="text-white">What makes Castle View Finance different?</h2>
      <p class="text-white">
        We are passionate about property finance and protection, ensuring you
        receive exceptional advice from a dedicated team that genuinely cares
        about your project. By staying informed on the latest trends and
        strategies, we remain ahead of the curve, offering insights from our
        experience and practical guidance to make your journey as smooth and
        enjoyable as possible.
      </p>
      <p class="text-white">
        Whether you're buying your first home, upgrading to your next, or
        refinancing your current one, we're here for you every step of the way.
        We provide the guidance and support needed to ensure a seamless
        transaction and help you get the keys to your home.
      </p>
      <p class="text-white">
        We never judge—your past is exactly that, the past. Our focus is on
        supporting your future, no matter your credit history, challenges, or
        difficulties.
      </p>
    </div>
    <div
      class="col-lg-4 col-10 order-1 order-lg-2 d-flex justify-content-center align-items-center"
    >
      <img src="../../assets/images/NicePng_home-png_244725.png" class="w-75" />
    </div>
  </div>
  <div class="container-fluid row d-flex flex-column">
    <h1 class="my-4 fw-bold text-center">The Path Ahead</h1>
    <br />
    <div class="d-flex justify-content-center col-lg-7 col-12 m-auto">
      <div class="mx-3">
        <h1 class="text-white bg-black rounded-pill px-3 py-2">1.</h1>
      </div>
      <div class="d-flex flex-column">
        <h2 class="text-uppercase fw-semibold">
          What's the budget? Let's get started!
        </h2>
        <p class="" style="text-align: justify">
          Dreaming of owning your dream home? Before you dive into making offers
          or spending sunny days touring countless properties, connect with us
          first. We’ll help you determine your budget and guide you through the
          onboarding process. Using our affordability checker, we can secure a
          Decision in Principle (DIP) or an Agreement in Principle (AIP) for you
          to present to estate agents.
        </p>
      </div>
    </div>
    <br />
    <div class="d-flex justify-content-center col-lg-7 col-12 m-auto">
      <div class="mx-3">
        <h1 class="text-white bg-black rounded-pill px-3 py-2">2.</h1>
      </div>
      <div class="d-flex flex-column">
        <h2 class="text-uppercase fw-semibold" style="text-align: justify">
          Make your offer and seal the deal!
        </h2>
        <p style="text-align: justify">
          Discovered your dream home within budget? Perfect location—near the
          schools for your kids, a quick commute to work, and close to your
          favorite spots for evening dog walks. Reach out to us right away, and
          we’ll help transform your offer into a mortgage application, complete
          with personalized advice, ideal terms, and expert guidance!
        </p>
      </div>
    </div>
    <br />
    <div class="d-flex justify-content-center col-lg-7 col-12 m-auto">
      <div class="mx-3">
        <h1 class="text-white bg-black rounded-pill px-3 py-2">3.</h1>
      </div>
      <div class="d-flex flex-column">
        <h2 class="text-uppercase fw-semibold" style="text-align: justify">
          Under the Surface:
        </h2>
        <p style="text-align: justify">
          Before the official mortgage offer is issued by your chosen lender,
          they will conduct a valuation and survey to meet their requirements.
          You should do the same! We always recommend a survey to identify any
          potential hidden issues. Rest assured, we're here to guide and support
          you every step of the way.
        </p>
      </div>
    </div>
    <br />
    <div class="d-flex justify-content-center col-lg-7 col-12 m-auto">
      <div class="mx-3">
        <h1 class="text-white bg-black rounded-pill px-3 py-2">4.</h1>
      </div>
      <div class="d-flex flex-column">
        <h2 class="text-uppercase fw-semibold" style="text-align: justify">
          Offer Secured! Let the solicitors weave their expertise!
        </h2>
        <p style="text-align: justify">
          The legal process is the final and most vital stage. The solicitors
          must uncover any potential legal concerns to ensure all parties are
          fully informed and in agreement with the terms and conditions of the
          mortgage.
        </p>
      </div>
    </div>
    <br />
    <div class="d-flex justify-content-center col-lg-7 col-12 m-auto">
      <div class="mx-3">
        <h1 class="text-white bg-black rounded-pill px-3 py-2">5.</h1>
      </div>
      <div class="d-flex flex-column">
        <h2 class="text-uppercase fw-semibold" style="text-align: justify">
          Finalizing the Deal
        </h2>
        <p style="text-align: justify">
          We're here to support you every step of the way, driving the process
          forward until the moment you can finally grab those keys! Together,
          we'll make your journey smooth and successful.
        </p>
      </div>
    </div>
  </div>
  <div class="bg-secondary row text-white m-auto">
    <h3 class="text-center mt-5 fw-normal">What Sets Us Apart?</h3>
    <hr class="customHr mb-4" />
    <div class="d-flex justify-content-center row m-auto">
      <div class="col-md-3 col-12 fw-normal m-3 mt-1">
        <h2>EXPERIENCE</h2>
        <p>
          We have years of expertise and insight within the team, supported by
          extensive connections across the financial industry to assist whenever
          needed. With several team members being seasoned investors and deeply
          passionate about property strategies, we’ve encountered, analyzed, and
          successfully managed a wide range of complex mortgage and protection
          cases.
        </p>
      </div>
      <div class="col-md-3 col-12 fw-normal m-3 mt-1">
        <h2>What Drives Us</h2>
        <p>
          We strive for client satisfaction, whether it's guiding you through
          the purchase of your first home or supporting you with your 100th
          investment property. We understand that buying a home can be a
          stressful process, and if we can help shoulder that burden, we know
          we've done our job well.
        </p>
      </div>
      <div class="col-md-3 col-12 fw-normal m-3 mt-1">
        <h2>Our Approach</h2>
        <p>
          We offer a comprehensive, end-to-end service, starting with a clear
          understanding of your goals and providing expert advice and
          recommendations every step of the way. From initial consultation to
          the moment you receive your keys, we're with you, offering unwavering
          support throughout the entire process.
        </p>
      </div>
    </div>
  </div>
</div>
