<nav class="navbar navbar-expand-lg bg-white positon-fixed">
  <div class="container-fluid">
    <a class="navbar-brand float-start m-0 p-0" href="#" style="width: 5%"
      ><img
        class="image-fluid p-0"
        src="../../assets/images/logo2.jpg"
        alt=""
        style="width: 100%"
      />
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-end" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home" aria-current="page"
            >Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >about</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active"
            routerLink="/contactUs"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
