<div class="container-fluid row d-flex justify-content-center m-auto p-0">
  <div class="col-lg-4 col-12 m-5 mb-0 pb-0">
    <h2 class="pb-4">Hit Us Up</h2>
    <p>
      Ready to take the next step toward your dream home? Contact us to discuss
      your mortgage options or get detailed information about our services. Our
      advisors are here to guide you every step of the way!
    </p>
    <br />
    <p class="fs-5">
      <i class="p-2 fa-solid fa-location-dot"></i> Lorem ipsum dolor sit amet
    </p>
    <p class="fs-5"><i class="p-2 fa-solid fa-phone"></i> 0123456789</p>
    <p class="fs-5">
      <i class="p-2 fa-solid fa-envelope"></i> abcdefgh&#64;gmail.com
    </p>
    <p class="fs-5"><i class="p-2 fa-solid fa-clock"></i>9:00 to 17:00</p>
  </div>
  <div class="col-lg-4 col-12 m-5 p-5 bg-secondary rounded rounded-5">
    <h2 class="pb-4 text-white">Contact form</h2>
    <form action="">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Your Name"
        class="form-control-lg rounded rounded-4 w-100 border border-3 border-light m-1"
      />
      <input
        type="tel"
        name="phone"
        id="phone"
        class="form-control-lg rounded rounded-4 w-100 border border-3 border-light m-1"
        placeholder="Phone"
      />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="email"
        class="form-control-lg rounded rounded-4 w-100 border border-3 border-light m-1"
      />
      <textarea
        name="message"
        id="message"
        cols="30"
        class="form-control-lg rounded rounded-4 w-100 border border-3 border-light m-1"
        placeholder="Enter your message"
        rows="5"
      ></textarea>
      <button class="btn customBtn rounded rounded-4" id="submit">
        <i class="p-2 fa-solid fa-paper-plane"></i>Send Your Message
      </button>
    </form>
  </div>
</div>
