<footer>
  <div class="d-flex justify-content-center row bg-black text-white p-5 w-100">
    <div class="col-lg-2 col-12">
      <h3>Relevant Links</h3>
      <ul class="list-unstyled">
        <li>
          <a class="text-decoration-none text-white" routerLink="/about"
            >About Us</a
          >
        </li>
        <li>
          <a class="text-decoration-none text-white" routerLink="/contactUs"
            >Contact Us</a
          >
        </li>
        <li>
          <a class="text-decoration-none text-white" routerLink>
            Privacy Policy</a
          >
        </li>
      </ul>
    </div>
    <div class="col-lg-2 col-12">
      <h3>Drop By</h3>
      <p>
        Road no3
        <br />
        Maruthi nagar
        <br />
        Kothapet
        <br />
        Hyderabad
      </p>
    </div>
    <div class="col-lg-2 col-12">
      <h3>Reach Us Here</h3>
      <p>0123456789</p>
      <p>abcedfgh&#64;gmail.com</p>
      <div class="d-flex">
        <a class="btn bg-white rounded rounded-5"
          ><i class="fa-brands fa-instagram text-black"></i
        ></a>
        <a class="btn bg-white rounded rounded-5"
          ><i class="fa-brands fa-facebook text-black"></i
        ></a>
        <a class="btn bg-white rounded rounded-5"
          ><i class="fa-brands fa-linkedin text-black"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
